*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background: #1d2b3a;
}

.inputbox
{
    position: relative;
    width: 250px;
}
.inputbox input
{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}
.inputbox span
{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
    transition: 0.5s;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background:#1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}

.Submit 
{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #99c2ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.Submit:hover
 {background-color: #99c2ff}

.Submit:active {
  background-color:#99c2ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button 
{
  background-color:#1d2b3a; 
  color: black; 
  border: 2px solid #008CBA;
}

.button:hover 
{
  background-color: #008CBA;
  color: white;
}
.button
{
  border: 2px solid  #008CBA;
  border-radius: 12px;
  padding: 5px 62px;
}
